<!-- <nav class="
bg-green-800 text-white shadow-md ">
  <div class="max-w-7xl mx-auto px-6">
    <div class="flex items-center justify-between h-14">
 -->
    <nav [class]=" navClass + ' text-white px-6 py-4 flex gap-6 items-center transition-colors duration-500'">
        <div class="max-w-7xl mx-auto px-6">
            <div class="flex items-center justify-between h-14">
            <!-- LOGO -->  
                <!-- <div class="text-lg font-semibold items-start p-10">
                    Tomaestados Tools
                </div> -->
                
              

      <!-- LINKS -->
      <div class="flex gap-6 text-normal font-medium">
        <a routerLink="/" class="hover:text-indigo-200">Home</a>
        <a routerLink="/discar" class="hover:text-indigo-200">Discar</a>
        <a routerLink="/temetra" class="hover:text-indigo-200">Temetra</a>
        <a routerLink="/mapa" class="hover:text-indigo-200">Mapa</a>
       
      </div>

    </div>
  </div>
</nav>
