
<nav [class]=" navClass + ' text-white flex items-center transition-colors    duration-300' + 
  ' px-4 py-3 gap-3' +
  ' sm:px-4 sm:py-1 sm:gap-6'
">
  <div class="max-w-7xl mx-auto px-6">
    <div class="flex items-center justify-between h-14">            

      <!-- LINKS -->
      <div class="flex gap-6 text-normal font-medium">
        <a routerLink="/" class="hover:text-indigo-200 hover:-translate-y-1 hover:scale-100 duration-300">Home</a>
        <a routerLink="/discar" class="hover:text-indigo-200 hover:-translate-y-1 hover:scale-100 duration-300">Discar</a>
        <a routerLink="/temetra" class="hover:text-indigo-200 hover:-translate-y-1 hover:scale-100 duration-300">Temetra</a>
        <a routerLink="/mapa" class="hover:text-indigo-200 hover:-translate-y-1 hover:scale-100 duration-300">Mapa</a>
      
      </div>
    </div>
  </div>
</nav>
